/*-- scss:defaults --*/
// Base document colors
$body-bg: #F4F6F6;
$link-color: #28B463 ;

// scss-docs-start font-variables
// stylelint-disable value-keyword-case
$font-family-sans-serif:Arial;

// Code blocks
$code-block-bg-alpha: -.5;
$code-block-bg:#DCDCDC;

